

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body{
   	background: #EDEBE6;
   	padding-top: 0;
   }

   .container{

   	padding-left: 0;
   	padding-right: 0;
   }

   .container-full {
	  margin: 0 auto;
	  width: 100%;
	  background-image: url(../img/torihana_cover.png?1426485854) !important;
  	  background-repeat: no-repeat;
  	  background-size: cover;
  	  min-height: 250px;
  	  padding: 100px 0 0;

	}

	.v_title, .v_description {
	  color: #fff;
	  text-shadow: 0px 1px 2px #333;
	}

	.v_title{
		font-size: 36px;
		font-family: Raleway !important;
    font-weight: bold;
	}

	.v_description{
		  font-size: 14px;
  margin-top: 36px;
  margin-bottom: 60px;
    font-family: "Open Sans" !important;
	}

	.logo-img{
		width: 62px;
	}

	.container-full1.nav1{
		width: 100%;
	background: white;
	}

  @media (min-width: 1200px){
.container {
  width: 1250px !important;
}
}

	@media (min-width: 1200px) {
    .fluid-nav-cus{
		padding-left: 56px;
	}
  }

  .header-rest{
  	color: #515151;
  }

  .side-img{
  	width: 100%;
  }

  .philosophy-row{
  	  padding-top: 16px;
  padding-bottom: 16px;
  background: white;
  margin-bottom: 32px;
  }

  .head-space{
  	margin-bottom: 28px;
  }

  @media (min-width: 1200px){
    .side-logo{
    background-image: url(../img/kami1.png?1426485854) !important;
    background-repeat: no-repeat;
  background-size: cover;
    height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #22374C;
  padding: 30px;
  width: 300px;
  }
  }

  @media (min-width: 600px){
    .side-logo{
    background-image: url(../img/kami1.png?1426485854) !important;
    background-repeat: no-repeat;
  background-size: cover;
    /*height: 100%;*/
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #22374C;
  padding: 30px;
  /*width: 300px;*/
  }
  }



  .side-logo:before{
      content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(34,55,76,0.6);
  }

  .link-nav{
    /*color: white;*/
    display: inline-block;
    font-size: 18px;
    color:#eee;
  /*    color: #c41e3a;
  background: #eee;*/
  }

  .link-nav:hover{
    color: white;
  }

  .v-share a{
      color: #eee;
  font-size: 30px;
  margin-right: 10px;
  }


















